target/
!.mvn/wrapper/maven-wrapper.jar

### H2 local database files ###
data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

.DS_Store
